// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h1, h2 {
  padding-bottom: 40px;
}

// Custom Horizontal Rule with Star Icon
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: $white;
}
hr.star-light:after {
  color: $white;
  background-color: $primary;
}

hr.star-dark {
  border-color: $secondary;
}
hr.star-dark:after {
  color: $secondary;
  background-color: white;
}

// Section Padding Settings
section {
  padding: 6rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: $secondary !important;
  border: 2px solid $secondary;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}

.width-30-percent {
  width: 40%;
}

.width-70-percent {
  width: 60%;
}

.custom-text-align {
  text-align: right;
}

.project-thumbnail {
  width: 286px;
  height: 180px;
  margin: 0px 22px;
}

@media(max-width: 575px) {
  .custom-text-align {
    text-align: center;
  }
}

.proggress-bar-inner-shadow {
  -webkit-box-shadow: inset 0px 0px 34px 3px rgb(94, 92, 92);
  -moz-box-shadow: inset 0px 0px 24px 3px rgba(61,60,60,1);
  box-shadow: inset 0px 0px 14px 3px rgba(61,60,60,1);
}

.inner-shadow {
  -webkit-box-shadow: inset 0px 0px 34px 3px rgb(133, 131, 131);
  -moz-box-shadow: inset 0px 0px 24px 3px rgb(133, 131, 131);
  box-shadow: inset 0px 0px 14px 3px rgb(133, 131, 131);
}

.progress-bar-shadow {
  // -webkit-box-shadow: inset 0px 0px 36px -9px rgba(37,37,61,1);
  // -moz-box-shadow: inset 0px 0px 36px -9px rgba(37,37,61,1);
  // box-shadow: inset 0px 0px 36px -9px rgba(37,37,61,1);
  
  -webkit-box-shadow: inset -2px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -2px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: inset -2px 2px 0px 0px rgba(0,0,0,0.75);
}

.linkedin {
  &:hover {
    border: 2px solid $linkedin;
    background-color: $linkedin;
    i {
      color: $white;
    }
  }
}
.github {
  &:hover {
    border: 2px solid $github;
    background-color: $github;
    i {
      color: $white;
    }
  }
}
.upwork {
  &:hover {
    border: 2px solid $upwork;
    background-color: $upwork;
    i {
      color: $white;
    }
  }
}
.facebook {
  &:hover {
    border: 2px solid $facebook;
    background-color: $facebook;
    i {
      color: $white;
    }
  }
}
.google-plus {
  &:hover {
    border: 2px solid $google-plus;
    background-color: $google-plus;
    i {
      color: $white;
    }
  }
}
.twitter {
  &:hover {
    border: 2px solid $twitter;
    background-color: $twitter;
    i {
      color: $white;
    }
  }
}
.chart{
  background-color: darken($white, 5%);
}