header.masthead {
  // padding-top: calc(6rem + 72px);
  padding-top: 30px;
  padding-bottom: 6rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
}

.with-image {
  background-image: url("../img/software-development.jpg");
  background-repeat: no-repeat;
  background-size: 900px 800px;
}

@media (min-width: 992px) {
  header.masthead {
    // padding-top: calc(6rem + 106px);
    padding-top: 30px;
    padding-bottom: 6rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
  }

  .with-image {
    background-image: url("../img/software-development.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 800px;
  }
}
