.masthead {
  padding-top: 100px;
  padding-bottom: 6rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
}

// .with-image {
//   background-image: url("../img/simpleBackground.jpg");
//   background-repeat: no-repeat;
//   background-size: 900px 800px;
// }

@media (min-width: 992px) {
  .masthead {
    padding-top: 150px;
    padding-bottom: 6rem;
    h1 {
      font-size: 2.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
  }

  // .with-image {
  //   background-image: url("../img/simpleBackground.jpg");
  //   background-repeat: no-repeat;
  //   background-size: 1500px 800px;
  //   height: 800px;
  // }
}


