<div class="resume-container">
    <div class="title-container">
        <p class="text">NulTien</p>
    </div>

    <h4 class="timeline-title">November 2019.</h4>
    <div class="timeline">
        <div  class="container right">
            <div class="content">
              <h2 class="content-title">Dutch railways - Reporting</h2>
              <p>.Net Core & Angular.</p>
              <p>Users were able to upload excel document and applciation convert excel document to grid system and shows info on the screen. I have used stagety design pattern, mediator pattern and clean architiecture in this project.</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
              <h2 class="content-title">We Auction - CMS</h2>
              <p>Angular 2+</p>
              <p>Angular application with components, custom directives, pipes, HTTP communication with Back-end and styling application according to design.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
              <h2 class="content-title">RestFull WEB API</h2>
              <p>.Net core & SignalR</p>
              <p>
                Buiding RestFull api from scratch.<br> N-tear layers architecture. <br> Actor system. <br> Relational databases
              </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
              <h2 class="content-title">We Auction - WEB component</h2>
              <p>VeuJS and SignarR</p>
              <p>
                Web compenent as a micirofront-end.
                <br>Posible to integrate web component as widget into any web page.
              </p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
              <h2 class="content-title">SurveryJS</h2>
              <p>Angular 2+ & SurveyJS</p>
              <p>
                I have used SurveryJS to speed up develpmemt of an app which was used for survay (answering  questions)
              </p>
            </div>
        </div>
    </div>
</div>
<h4 class="timeline-title">November 2018.</h4>

<div class="resume-link-text-container">
  <b>
    <a 
        class="resume-link-text"
        (click)="closeResume()" 
        [routerLink]="['/home']"
    >
        GO BACK
    </a>
  </b>   
</div>