::ng-deep .ngx-charts-dark { text { fill: #fff !important; } }
::ng-deep .chart-legend .legend-label-text { color: #777 !important; }
::ng-deep .chart-legend .legend-label-text:hover { color: #47D !important; }