@import "../../../modules/home/home-page/banner/banner.component.scss";
@import "../../../../styles.scss";

.contact-page {
  height: 640px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
  
.contact-page-forms {
  width: 600px;
  height: 494px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-page-forms-disabled {
  width: calc(100% + 10px);
  height: 645px;
  background-color: rgba(100,100,100,0.4);
  position: absolute;
  top:-75px;
  left:-10px;
  border-radius: 10px;
  display: none;
  opacity: 0;
  transition-duration: 2s;
}

.displayBlock {
  display: block !important;
  opacity: 1 !important;
  transition-duration: 2s !important; 
}


.contact-page-forms-disabled:hover {
  cursor:not-allowed;
}
  
.info-section {
  width: 406px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start; 
  background-image: var(--background-primary-gradient);
  box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.2), 10px 10px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 5px;
  margin-right: 50px;
}

.contact-text-highlights {
  color:var(--text-primary-color);
}

.info-section-photo {
  border-radius: 12px;
  margin-top: 20px;
  height: 220px;
}

.title {
  text-align: center;
  font-size: 32px;
  font-family: Inter;
  color: var(--text-primary-color);
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-location {
  text-align: center;
  font-size: 24px;
  font-family: Inter;
  color: var(--text-primary-color);
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
  
input[type=text], input[type=number], select , textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 0px;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 1px solid transparent;
  transition-property: all;
  transition-duration: 700ms;
  background-color: var(--background-primary-color);
  box-shadow: inset  3px 3px 15px var(--background-secondary-color);
  color:var(--text-primary-color);              //Added color 
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background-primary-color) inset !important;
    -webkit-text-fill-color: var(--text-primary-color);
    border:2px solid var(--background-primary-color);
}

label {
  color: var(--text-ternary-color);
  font-size: 14px;
  font-family: Inter-links;
 }

input[type=text]:hover, input[type=number]:hover, select:hover, textarea:hover{
  border: 2px solid var(--text-secondary-color);
  transition-property: border;
  transition-duration: 700ms;
  cursor: pointer;
}
  
input[type=text]:focus-visible, input[type=number]:focus-visible, select:focus-visible, textarea:focus-visible{
  transition-property: outline;
  transition-duration: 700ms;
  border: 2px solid var(--text-secondary-color);
}  
  
input[type=submit] {
  width: 98% !important;
  background-color: var(--text-secondary-color);
  color: rgb(9, 172, 9);
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  border:0px;
}

.confirm-button {
  box-shadow: 2px 2px 15px var(--background-secondary-color);
}

.confirm-button:hover {
  background-color: var(--background-secondary-color);
}

  
.forms-container {
  border-radius: 5px;
  background-color: #505050;
  padding: 30px 35px;
  width: 605px;
  height: 648px;
  background-image: var(--background-primary-gradient);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 10px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.form-container {
  width: 540px;
}

#message {
  height: 170px;
}

  
.forms-section {
  background-color: transparent;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-bottom: 45px;
  justify-content: space-between;
  margin-bottom: 50px;
}
  
.input-container-one {
  width: 260px;
}
  
.input-container-two {
  width: 260px;
}
    
#button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  background-image: var(--background-primary-gradient);
  color: var(--text-secondary-color);
  font-size: 12px;
  font-family: Inter;
}

#button:disabled {
  cursor: not-allowed;
}

#button:disabled:hover {
  background-color: transparent!important;
}

#button:hover {
  background-image: rgba(var(--background-secondary-color), var(--background-secondary-color));
}
  
.photo-and-information {
  width: 100%;
  height: 100%;
  background-color: #505050;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 5px;
}
    
.developer-name {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: 900;
  color:  var(--text-ternary-color);
  font-family: Inter;
}
  
.position-and-information {
  font-size: 14px;
  color:  var(--text-ternary-color);
  font-family: Inter-links;
  width: 300px;
}
  
.contact-number {
  font-size: 14px;
  margin-bottom: 0px;
  color:  var(--text-ternary-color);
  font-family: Inter-links;
}
  
.contact-email {
  font-size: 14px;
  margin-top: 0px;
  color:  var(--text-ternary-color);
  font-family: Inter-links;
}

.google-map-location {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 70px;
} 

.map-location-container {
  max-width: 1400px;
  width: calc(100% - 100px);
  height: 325px;
  display: flex;
  align-items: center;
}

.my-location {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-title-location {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-information {
  position: relative;
  left:10px;
  width: 100%;
} 

//Marko

.user-message {
  resize: none;
}

.test {
  width: 100px;
  height: 100px;
  background-color: green;
}

.testSend {
  width: 100px;
  height: 100px;
  background-color: red;
}

.contact-page-inputs-errors {
  color: var(--text-secondary-color);
  font-size: 12px;
  margin-left: 10px;
}

.error-container {
  height: auto;
  min-height: 24px;
}

.error-container-message {
  height: auto;
  min-height: 24px;
  margin-top: -7px;
}

.loader {
  position: absolute;
  left:43%;
  top: 43%;
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.social-media-contant-page {
  width: 100%;
  padding-left: 10px;
  margin-top: 20px;
}

.email {
  margin-top: 10px;
}

.contact-mail-feedback-done {
  width: 400px;
  height: 70px;
  position: fixed;
  bottom: 10px;
  box-shadow: 5px 5px 15px var(--background-primary-color);
}

.contact-mail-feedback-done-show {
  right: 19px;
  transition-duration: 700ms;
  opacity: 1;
}

.contact-mail-feedback-done-hide {
  transition-duration: 700ms;
  transition-delay: 0.5s;
  right: -420px;
  animation-name: removeObject;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes removeObject {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.contact-mail-feedback-done-animation {
  right: -420px;
  transition-property: opacity;
  transition-delay: 0s;
  transition-duration: 1.5s;
  opacity: 0.5;
}

.contact-mail-feedback-success {
  background-color: #55A253;
  height: 100%;
  width: 100%;
}

.contact-mail-feedback-success__body {
  display: flex;
  align-items: center;
  height: 100%;
}

.success-icon {
  font-size: 25px;
  color: white;
  float: left;
}

.toast-body__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 12px;
}

.toast-body__text strong:first-child {
  font-size: 17px;
}

.toast-body__text p:last-child {
  font-size: 14px;
  width: 100%;
}

.btn-close {
  position: absolute;
  right: 10px;
}


//reject 


.contact-mail-feedback-reject {
  width: 300px;
  height: auto;
  padding-top: 5px;
  position: fixed;
  bottom: 10px;
  background-color: #D81F19;
  box-shadow: 5px 5px 15px var(--background-primary-color);
}

.contact-mail-feedback-reject-show {
  right: 19px;
  display: block;
  transition-duration: 700ms;
}

.contact-mail-feedback-reject-hide {
  transition-duration: 700ms;
  transition-delay: 0.5s;
  right: -420px;
  display: block;
  animation-name: removeObject;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.contact-mail-feedback-reject-remove {
  display: none;
  transition-duration: 1.5s;
  opacity: 0;
}


.contact-mail-feedback-reject__body {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.reject-icon {
  font-size: 19px;
  color: white;
  float: left;
}

@media only screen and (min-width:768px) and (max-width:1035px) {

      .contact-page {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      } 

      .email {
        margin-top: 35px;
      }

      .info-section {
        width: 90%;
        height: auto;
        align-items: flex-start;
        margin: auto;
      }

      .position-and-information {
        font-size: 14px;
        color:  var(--text-ternary-color);
        font-family: Inter-links;
        width: 500px;
      }
        
      .form-container {
        width: 100%;
      }

      .contact-page-forms {
        width: 90%;
        height: 715px;
        margin: 0px;
      }

      .forms-container {
        padding: 25px 25px;
        width: 100%;
        height: 740px;
        margin-top: 70px;
      }

      .forms-section {
        background-color: transparent;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 130px;
      }
        
      .input-container-one {
        width: 100%;
      }
        
      .input-container-two {
        width: 100%;
      }

      .title-location {
        align-items: center;
        top: 0px;
      }

      .google-map-location {
        width: 100%;
        height: 350px;
        top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 0;
      } 

      .container-information {
        position: relative;
        top: 15px;
      }

      .map-location-container {
        width: 90%;
        height: 325px;
        display: flex;
        align-items: center;
        margin: auto;
      }

      .my-location {
        margin-top: 100px;
      }

      .links-container {
        width: 250px;
    
      }

      .info-section-photo {
        border-radius: 12px;
        margin-top: 20px;
        height: auto;
      }

      .contact-page-forms-disabled {
        height: 745px;
        top:20px;
        left:-5px;
      }

      .loader {
        left:46%;
      }
}


@media only screen and (min-width:380px) and (max-width:799px) {
  .contact-page {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  .contact-page-forms-disabled {
    height: 745px;
    top:20px;
    left:-5px;
  }

  .loader {
    left:42%;
  }

  .social-media-contant-page {
    padding-left: 0px;
  }

  .position-and-information {
    font-size: 14px;
    color:  var(--text-ternary-color);
    font-family: Inter-links;
    width: 95%;
  }

  .email {
    margin-top: 35px;
  }

  .info-section {
    width: 100%;
    height: auto;
    align-items: flex-start;
    margin: auto;
  }

  .container-title-location {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

    
  .form-container {
    width: 100%;
  }

  .contact-page-forms {
    width: 95%;
    height: 715px;
    margin: 0px;
  }

  .forms-container {
      padding: 25px 10px;
      width: 100%;
      height: 740px;
      margin-top: 70px;
  }

  .forms-section {
    background-color: transparent;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
  }
    
  .input-container-one {
    width: 100%;
  }
    
  .input-container-two {
    width: 100%;
  }

  .title-location {
    align-items: center;
    top: 0px;
  }

  .google-map-location {
    width: 98%;
    margin: auto;
    height: 350px;
    top: 100px;
    padding-right: 0px;
  } 

  .container-information {
    position: relative;
    top: 0px;
  }

  .map-location-container {
    width: 95%;
    height: 325px;
    display: flex;
    align-items: center;
  }

  .my-location {
    margin-top: 50px;
  }

  .links-container {
    width: 250px;

  }

  .info-section-photo {
    border-radius: 12px;
    margin-top: 20px;
    height: auto;
  }

  .contact-mail-feedback-success {
    width: 100%;
  }

  .contact-mail-feedback-done {
    width: 360px;
  }

  .contact-mail-feedback-done-show {
    right: 10px;
  }

  .contact-mail-feedback-reject-show {
    right: 10px;
  }
}
  