<div class="resume-container">
    <div class="title-container">
        <p class="text">Orion Inovation (Mera)</p>
    </div>

    <h4 class="timeline-title">Present</h4>
    <div class="timeline">
        <div  class="container left">
            <div class="content">
              <h2 class="content-title">Leadership</h2>
              <p>Team Lead / Teach Lead / Software Architect</p>
              <p>Software Architecture <br> Team organization and management
                <br>Communication & development support</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
              <h2 class="content-title">Big data integration</h2>
              <p>.Net Core & SignalR & Angular 12</p>
              <p>Microservices <br> Azure Data Factory <br> Azure Service Bus <br> MSSQL Database <br> Performance Optimization</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
              <h2 class="content-title">Navigate</h2>
              <p>Angular 12 & .Net Core</p>
              <p>Project Architecture <br>
                Project Structure   <br>
                Project implementation & Coding Best Practiciies
              </p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
              <h2 class="content-title">Ticketing system</h2>
              <p>.Net Core & Angular 11.</p>
              <p>
                Refactor <br> Bug fixing <br> Dynamic validations <br> Performance Optimization
              </p>
            </div>
        </div>
    </div>
</div>
<h4 class="timeline-title">December 2020.</h4>

<div class="resume-link-text-container">
  <b>
    <a 
        class="resume-link-text"
        (click)="closeResume()" 
        [routerLink]="['/home']"
    >
        GO BACK
    </a>
  </b>   
</div>