@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1xcaop');
  src:  url('fonts/icomoon.eot?1xcaop#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1xcaop') format('truetype'),
    url('fonts/icomoon.woff?1xcaop') format('woff'),
    url('fonts/icomoon.svg?1xcaop#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upwork:before {
  content: "\e901";
  color: #6fda44;
}
