ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }
    
  li {
    float: left;
    padding: 15px;
    padding-top: 30px;
  }
 
  .header-logo-mobile {
    font-size: 28px;
    font-family: "Inter";
    font-weight: 800;
    padding-left: 50px;
    color: var(--text-primary-color);
  }

  .header-container-holder {
    position: relative;
    padding-top:20px;
  }

  .flags {
    width: 20px;
    height: 12px;
    position: relative;
    float: right;
  }
  
  .toggle-button {
    display: none;
    position: absolute;
    right: 50px;
    color: var(--text-secondary-color);
    cursor: pointer;
  }
  
  .toggler-icon-start {
    font-size: 30px;
  }
  
  .toggler-icon-end {
    font-size: 30px;
    margin-left: -12px;
  }
   
  .menu-mobile {
    width: 414px;
    height: 100%;
    background-color: var(--background-primary-color);
    position: fixed;
    top:0;
    left:-414px;
    z-index: 11;
   }
  
  .mobile-header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 0px;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--text-ternary-color);
  }
  
  .mobile-header-logo-holder {
    width: 100%;
    height: auto;
    padding:20px 37px;
    display: flex;
    flex-direction: column;
    z-index: 4;
    margin-bottom: 20px;
  }
  
  .menu-items-mobile {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  
  .menu-items-mobile ul {
    padding:0;
    margin: 0;
  }
  
  .menu-items-mobile ul li {
    margin: 0;
    padding:0;
    float: left;
    clear:left;
    margin-top: 15px;
    width: 100%;
  }
  
  .menu-items-mobile ul li a {
    display: block;
    font-family: "Inter-links";
    text-decoration: none;
    font-size: 14px;
  }
  
  .menu-items-mobile ul li a:hover {
    color:var(--text-secondary-color);
  }
  
  .menu-items-mobile-default {
    color: var(--text-ternary-color);
  }
  
  .menu-items-mobile-active {
    color: var(--text-secondary-color);
  }
  
  .dropdown-menu-mobile {
    width: 100%;
    height: 60px;
    position: relative;
    display: block;
    margin-top: 5px;
    display: none;
  }
  
  .dropdown-menu-mobile ul {
    padding: 0;
    padding-left: 25px;
    margin: 0;
  }
  
  .dropdown-menu-mobile ul li {
    margin-top: 10px;
    margin-bottom: 7px;
  }
  
  .menu-dropdown-item-mobile-default {
    color: var(--text-ternary-color);
  }
  
  .dropdown-menu-mobile ul li a {
    font-family: "Inter-links";
    text-decoration: none;
    font-size: 14px;
  }
  
  .btn-close-mobile {
    color:var(--text-secondary-color);
    font-size: 45px;
  }
  
  .menu-mobile-shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    left:0;    
    top:0;                         // Shadows 10 +
    z-index: 10;
    display: none;
  }
  
  .item-light-container {
    display: flex;
    flex-direction: row;
    width: 70px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
  }
    
  .item-light-container p.english { 
    margin-right: 25px;
  }

  .item-light-container p.serbian {
    margin-right: 26px;
  }

  .item-light-container .themes-menu-item-text {
    margin-right: 25px;
  }
  
  .item-light-container span {
    float: right;
  }
  
  .item-light-container p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 18px;
  }

  .default-link{
    background-color: var(--background-primary-color);
  }
  .active-link{
    background-color: var(--background-primary-color);
    color:var(--text-secondary-color);
  }
  
  .themes-ul li {
    padding-bottom: 0;
    margin-bottom: 0 !important;
  }
  
  .themes-icons {
    font-size:17px;
    margin-bottom: 10px;
    color:var(--text-ternary-color);
  }
  
  .themes-icons-secondary {
    font-size:15px;
    position: absolute;
    right: 0px;
    margin-right: 5px;
  }
  
  .theme-colors {
    color: var (--text-primary-color)
  }
  
  .settings-item {
    position: relative;
  }
  
  .theme-text {
    left: 0px;
    font-size: 12px;
  }
  
  .themes-icon-primary {
    font-size: 15px;
    color: var(--text-ternary-color);
    position: relative;
    bottom: 3px;
  }
  
  .menu-links,
  .btn-close-class,
  .mobile-headers {
    cursor: pointer;
  }
  
  
  
   // Desktop View
  
   @media only screen and (min-width:1440px) {
      .menu {
        display: block;
      }
   }
  
   @media only screen and (min-width:992px) and (max-width:1440px) {
    .menu {
      display: block;
    }
  
    .dropdown-content {
      top:47px;
    }
  
    .dropdown-content-theme {
      top:47px;
      left:-170px;
    }
  
    li {
        float: left;
        padding: 10px 5px;
        padding-bottom: 0px;
      }
  
      .header-logo {
        font-size: 30px;
        font-family: "Inter";
        color: var(--text-primary-color);
        margin: 0px;
      }
  
      .header-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
  
  
  
  }
  
   //Tablet View
  
   @media only screen and (min-width:768px) and (max-width: 829px) {
    .header-logo {
      margin-bottom: 0px;
      padding-left: 30px;
    }
    .toggle-button  {
      right:25px;
    }
   }
   
   @media only screen and (min-width:420px) and (max-width: 520px) {
    .header-logo {
      padding-left: 20px;
    }
  
    .toggle-button  {
      right:20px;
    }
   }
  
   @media only screen and (min-width:100px) and (max-width: 420px) {
    .header-logo {
      padding-left: 15px;
    }
  
    .toggle-button  {
      right:15px;
    }
   }
  
   @media only screen and (min-width:521px) and (max-width: 768px) {
    .header-logo {
      padding-left: 30px;
    }
  
    .toggle-button  {
      right:25px;
    }
   }
  
   @media only screen and (min-width:500px) and (max-width:992px) {
      .menu {
        display: none;
      }
      
      .toggle-button  {
        display: block;
      }
  
      .header-container {
        width: 100%;
      }
  
      .header-logo-mobile {
        margin-bottom: 0px;
        padding-left:0px;
      }
      .header-logo {
        margin-bottom: 0px;
      }
  }
  
  //Mobile View
  
  @media only screen and (max-width: 500px) {
    .menu {
      display: none;
    }
    
    .toggle-button  {
      display: block;
    }
  
    .header-container {
      width: 100%;
    }
  
    .header-logo {
      margin-bottom: 0px;
      font-size: 32px;
    }
  
    .menu-mobile {
      width: 100%;
      left:-100%;
      overflow-y: scroll;
    }
  
    .header-logo-mobile {
      font-size: 30px;
      padding-left: 0px;
      margin-bottom: 0px;
    }
  
    .menu-items-mobile ul li a {
      font-size: 15px;
    }
  }