<div id="menuMobile" class='menu-mobile menu-mobile-hide'>
    <div class="mobile-header-logo-holder">
          <div class="mobile-header-logo">
              <div>
                  <p class="header-logo-mobile">
                    <span class="red-color-logo-text">
                      NBO
                    </span> 
                    Development
                </p>
              </div>
              <fa-icon (click)="hideMobileMenu();" class="btn-close-mobile" [icon]="closeBtn"></fa-icon> 
          </div>
          <div class="menu-items-mobile">
              <ul>
                <li>
                  <a 
                    #mobileItemRef1 
                    [ngClass]="{'menu-item-active':home == true}"
                    class="menu-items-mobile-default mobile-headers" 
                    (click)="activatelinkMobile(mobileItemRef1); hideMobileMenu(); setItemsOnDefault();" 
                    [routerLink]="['/home']" 
                    routerLinkActive="active"
                  >
                    {{ 'HOME' | translate }}
                  </a>
                </li>
                <li>
                  <a 
                    #mobileItemRef2 
                    [ngClass]="{'menu-item-active':features == true}"
                    class="menu-items-mobile-default mobile-headers" 
                    (click)="activatelinkMobile(mobileItemRef2); displayFeatures();"
                  >
                    {{ 'FEATURES' | translate }}
                  </a>
                  <div id=featuresMenu class="dropdown-menu-mobile">
                    <ul>
                      <li>
                        <a 
                          [ngClass]="{'feature-menu-item-active':featureMenuItemDevelopmentStrategy == true}" 
                          class="menu-dropdown-item-mobile-default"
                          [routerLink]="['/features/development-strategy']"
                          (click)="closeFeatureDropDownMenu('development'); hideMobileMenu(); "
                        >
                          {{ 'DEVELOPMENT STRATEGY' | translate }}

                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'feature-menu-item-active':featureMenuItemSoftwareArchitecture == true}"
                          class="menu-dropdown-item-mobile-default"
                          [routerLink]="['/features/software-architecture']"
                          (click)="closeFeatureDropDownMenu('softwareArchitecture'); hideMobileMenu();"
                        >
                          {{ 'SOFTWARE ARCHITECTURE' | translate }}

                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'feature-menu-item-active':featureMenuItemProjectImplementation == true}"
                          class="menu-dropdown-item-mobile-default" 
                          [routerLink]="['/features/project-implementation']" 
                          (click)="closeFeatureDropDownMenu('projectImplementation'); hideMobileMenu();"
                        >
                          {{ 'PROJECT IMPLEMENTATION' | translate }}
                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'feature-menu-item-active':featureMenuItemMentoring == true}"
                          class="menu-dropdown-item-mobile-default"
                          [routerLink]="['/features/mentoring']" 
                          (click)="closeFeatureDropDownMenu('mentoring'); hideMobileMenu();"
                        >
                          {{ 'MENTORING' | translate }}

                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'feature-menu-item-active':featureMenuItemLeadership == true}"
                          class="menu-dropdown-item-mobile-default" 
                          [routerLink]="['/features/leadership']" 
                          (click)="closeFeatureDropDownMenu('leadership'); hideMobileMenu();"
                        >
                          {{ 'LEADERSHIP' | translate }}
                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'feature-menu-item-active':featureMenuItemConsulting == true}"
                          class="menu-dropdown-item-mobile-default" 
                          [routerLink]="['/features/consulting']" 
                          (click)="closeFeatureDropDownMenu('consulting'); hideMobileMenu();"
                        >
                          {{ 'CONSULTING' | translate }}
                        </a>
                      </li>
                      </ul>
                  </div>
                </li>
                <li>
                  <a 
                    #mobileItemRef3 
                    [ngClass]="{'menu-item-active':resume == true}"
                    class="menu-items-mobile-default mobile-headers" 
                    (click)="activatelinkMobile(mobileItemRef3); displayResume();"
                    >
                    {{ 'RESUME' | translate }}
                  </a>
                  <div id=resumeMenu class="dropdown-menu-mobile">
                    <ul>
                      <li>
                        <a 
                          [ngClass]="{'resume-menu-item-active': resumeMenuItemUniversity == true}"
                          [routerLink]="['/resume/university']" 
                          (click)="closeResumeDropDownMenu('university'); hideMobileMenu();"
                          class="menu-dropdown-item-mobile-default"
                        >
                          {{ 'UNIVERSITY' | translate }}
                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'resume-menu-item-active': resumeMenuItemInfoscreen == true}"
                          [routerLink]="['/resume/infoscreen-microgen']" 
                          (click)="closeResumeDropDownMenu('infoscreen'); hideMobileMenu();"
                          class="menu-dropdown-item-mobile-default"
                        >
                          {{ 'INFOSCREN/MIGROGEN' | translate }}
                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'resume-menu-item-active': resumeMenuItemNultien == true}"
                          [routerLink]="['/resume/nultien']" 
                          (click)="closeResumeDropDownMenu('nultien'); hideMobileMenu();"
                          class="menu-dropdown-item-mobile-default"
                        >
                          {{ 'NULTIEN' | translate }}
                        </a>
                      </li>
                      <li>
                        <a 
                          [ngClass]="{'resume-menu-item-active': resumeMenuItemIntelisale == true}"
                          [routerLink]="['/resume/intelisale']" 
                          (click)="closeResumeDropDownMenu('intelisale'); hideMobileMenu();"
                          class="menu-dropdown-item-mobile-default"
                        >
                          {{ 'INTELISALE' | translate }}
                        </a>
                      </li>
                      <li>
                        <a
                          [ngClass]="{'resume-menu-item-active': resumeMenuItemOrionInovation == true}"
                          [routerLink]="['/resume/orion-inovation']" 
                          (click)="closeResumeDropDownMenu('orionInovation'); hideMobileMenu();"
                          class="menu-dropdown-item-mobile-default"
                        >
                          {{ 'ORION INOVATION' | translate }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a 
                    #mobileItemRef4 
                    [ngClass]="{'menu-item-active':portfolio == true}"
                    href="home#portfolioSection"
                    class="menu-items-mobile-default mobile-headers" 
                    (click)="activatelinkMobile(mobileItemRef4); hideMobileMenu();"
                    >
                    {{ 'PORTFOLIO' | translate }}
                  </a>
                </li>
                <li>
                  <a 
                    #mobileItemRef5
                    [ngClass]="{'menu-item-active':clients == true}"
                    href="home#clientsSection"
                    class="menu-items-mobile-default mobile-headers"
                    (click)="activatelinkMobile(mobileItemRef5); hideMobileMenu();"
                    >
                    {{ 'CLIENTS' | translate }}
                  </a>
                </li>
                <li>
                  <a 
                    #mobileItemRef6
                    [ngClass]="{'menu-item-active':contact == true}"
                    class="menu-items-mobile-default mobile-headers"
                    (click)="activatelinkMobile(mobileItemRef6); hideMobileMenu();"
                    [routerLink]="['/contact']"
                    routerLinkActive="active"
                    >
                    {{ 'CONTACT' | translate }}
                  </a>
                </li>
                <li>
                  <a
                    #mobileItemRef7
                    class="menu-items-mobile-default mobile-headers"
                    (click)="activatelinkMobile(mobileItemRef7)"
                    href="https://github.com/nikolabojkovic"
                    target="_blank"
                    >
                    {{ 'GITHUB' | translate }}
                  </a>
                </li>
                <li>
                  <a
                    #mobileItemRef8
                    class="menu-items-mobile-default mobile-headers"
                    (click)="activatelinkMobile(mobileItemRef8); displayThemes()"
                    >
                    {{ 'THEMES' | translate }}
                  </a>
                <div  
                  id=themesMenu
                  class="dropdown-menu-mobile">
                  <ul class="themes-ul">
                      <li>
                        <a 
                          id="lightThemeID" 
                          #themeLightMobileID
                          class="menu-dropdown-item-mobile-default"
                          (click)="displayOnLightThemeColorPicker()"
                        >
                          <div class='item-light-container'>
                            <div class="item-light-container__mobile_theme">
                              <p id="MenuThemeLightID">{{ 'LIGHT' | translate }}</p>
                            </div>
                            <div 
                              [ngClass]="{'display':lightThemeColorPickerState == true, 'hide':lightThemeColorPickerState == false }"
                              id="LightThemeColorPickerID" 
                              class="settings-item__color display"
                            >
                              <div (click)="onLightRedThemeClick(); activeThemeItem(themeLightMobileID);" class="settings-item__color__item">
                                <span>RED</span>
                                <span>
                                  <fa-icon 
                                    class="theme-colors themes-icons-secondary" 
                                    [icon]="sun"
                                  >
                                    asdasd
                                  </fa-icon>
                                </span>
                              </div>
                              <div (click)="onLightBlueThemeClick();  activeThemeItem(themeLightMobileID);" class="settings-item__color__item">
                                <span>BLUE</span>
                                <span>
                                  <fa-icon 
                                    class="theme-colors themes-icons-secondary" 
                                    [icon]="sun"
                                  >
                                    asdasd
                                  </fa-icon>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a 
                          id="darkThemeID"
                          #themeDarktMobileID
                          class="menu-dropdown-item-mobile-default"
                          (click)="displayOnDarkThemeColorPicker()"
                          >
                          <div class='item-light-container'>
                            <p id="MenuThemeDarkID" class="themes-menu-item-text">{{ 'DARK' | translate }}</p>
                            <div [ngClass]="{'display':darkThemeColorPickerState == true, 'hide':darkThemeColorPickerState == false }" id="DarkThemeColorPickerID" class="settings-item__color__dark-theme">
                              <div (click)="onDarkRedThemeClick(); activeThemeItem(themeDarktMobileID);" class="settings-item__color__item">
                                <span>RED</span>
                                <span>
                                  <fa-icon 
                                    class="theme-colors themes-icons-secondary" 
                                    [icon]="moon"
                                  >
                                    asdasd
                                  </fa-icon>
                                </span>
                              </div>
                              <div (click)="onDarkBlueThemeClick();  activeThemeItem(themeDarktMobileID);" class="settings-item__color__item">
                                <span>BLUE</span>
                                <span>
                                  <fa-icon 
                                    class="theme-colors themes-icons-secondary" 
                                    [icon]="moon"
                                  >
                                    asdasd
                                  </fa-icon>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                  </ul>
                </div>
                </li>
                <li>
                  <a
                    #mobileItemRef9
                    class="menu-items-mobile-default mobile-headers"
                    (click)="activatelinkMobile(mobileItemRef9); displayLanguages()"
                    >
                    {{ 'LANGUAGES' | translate }}
                  </a>
                <div  
                  id=languagesMenu
                  class="dropdown-menu-mobile">
                  <ul class="themes-ul">
                      <li>
                        <a 
                          class="menu-dropdown-item-mobile-default"
                          (click)="hideMobileMenu(); resetLinks();">
                          <div class='item-light-container'>
                            <p class="english">{{ 'ENGLISH' | translate }}</p>
                            <span><img class="flags" src="../../../../assets/images/header/america.jpg"></span>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a 
                          class="menu-dropdown-item-mobile-default"
                          (click)="hideMobileMenu(); resetLinks();"
                          >
                          <div class='item-light-container'>
                            <p class="serbian">{{ 'SERBIAN' | translate }}</p>
                            <span><img class="flags" src="../../../../assets/images/header/srbija.jpg"></span>
                          </div>
                        </a>
                      </li>
                  </ul>
                </div>
                </li>
              </ul>
          </div>
    </div>
    <app-social-media-mobile></app-social-media-mobile>
  </div>
  