<div class="development-strategy">
    <div class="text-and-photo">
        <p class="title">Consulting</p>
           
        <p class="text">If you alredy have a software and if you are not sure how to make it better or make it more usable Counsulting is the solution. </p>
 
         <p class="text-1">With couple of sesstions you can get ideas how to improve you software, fix bugs and vulnarabilities and even make it work better and faster.</p>
         
         <p class="text-2">
            First step is Project diagnostic and Domain analysing, then consultant can give some suggestions and ideas how you project can be done better. Sometimes software architecture has to be changes, sometimes code has to be re-organized and sometimes team has to be re-organized, it all depends.</p>
         
         <p class="text-3">By contacting consultant you can save yourself a lot of time and money. You project can gain speed if technical stuff are done right. Consulting can help remove repetitive work, give you better ideas or improve your ideas and indicate to errors and mistakes in the project.</p>
    
         <p class="text-3">Software always could be done better, it is cheaper and easier to have a consultant then to make a lot of mistakes and spend a lot of time and money on them.</p>

        <b>
            <a 
                class="link-text"
                (click)="closeFeatures()" 
                [routerLink]="['/home']"
            >
                GO BACK
            </a>
        </b>   
 
     </div>
 
    <div class="text-and-photo-secondary">
     <img class="image-development" src="../../../../../assets/images/features/consulting.jpg" alt="Consulting">
    </div>
 </div>