<div class="resume-container">
    <div class="title-container">
        <p class="text">Infoscreen/Microgen</p>
    </div>

    <h4 class="timeline-title">October 2018.</h4>
    <div class="timeline">
        <div  class="container left">
            <div class="content-left">
              <h2 class="content-title">Reporting</h2>
              <p>Cristal reports & Win Forms</p>
              <p>
                Build report engine
                <br>Build report templates
                <br>Convert from Cristal reporots to Microsoft reports
              </p>
            </div>
        </div>
        <div class="container right">
            <div class="content-right">
              <h2 class="content-title">WinForms</h2>
              <p>.Net Framework</p>
              <p>
                Forms
                <br>Workflows
                <br>WPF screens
              </p>
            </div>
        </div>
        <div class="container left">
            <div class="content-left">
              <h2 class="content-title">API - C++</h2>
              <p>C++ API</p>
              <p>
                Repository & Unit of work
                <br>REST endpoints & sockets
              </p>
            </div>
        </div>
        <div class="container right">
            <div class="content-right">
              <h2 class="content-title">Intern</h2>
              <p>Team Work & .Net Framework</p>
              <p>
                Work in a team
                <br>IDE & other tools
                <br>Kanban & meetings
              </p>
            </div>
        </div>
    </div>
</div>
<h4 class="timeline-title">January 2015.</h4>

<div class="resume-link-text-container">
  <b>
    <a 
        class="resume-link-text"
        (click)="closeResume()" 
        [routerLink]="['/home']"
    >
        GO BACK
    </a>
  </b>   
</div>
