   <div class = "site-container">
      <div id = "siteContainerTop" class = "site-container-top">
         <div class = 'view-container'>
            <app-header></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
         </div>
      </div>
      <div 
         [ngClass]="{'scrollButton-active': scrollButtonStatus == true, 'scrollButton-default': scrollButtonStatus == false}" 
         class="scrollButton"
         (click)="scrollToTop()"
      >
         <div class="scroll-to-top-arrow-container" data-bs-toggle="tooltip" data-bs-placement="right" title="Scroll To Top">
            <fa-icon 
               class="scroll-to-top-arrow"
               [icon]="arrow">
            </fa-icon> 
         </div>
      </div>
   </div>
   
   
