   <!-- Icons -->
   <!--   <fa-icon [icon]="['fas', 'arrow-rotate-right']"></fa-icon>  Solid icons  6.0 -->
   <!--   <fa-icon [icon]="['far', 'chess-bishop']"></fa-icon>        Regular icons 6.0 -->

   <div>
      {{ 'Hello World' | translate }}
      {{ 'match' | translate }}
      {{  storage | translate }}
   </div>

   <button (click) = "onEnglishLanguageClick()" type = "button" class = 'btn btn-primary'>
      {{ 'English' | translate }}
   </button>
   <button (click) = "onSerbianLanguageClick()" type = "button" class = 'btn btn-primary'>
      {{ 'Serbian' | translate }}
   </button>

   <div>
      <app-header></app-header>
      <p class="color-primary">text-primary</p>
      <p class="color-secondary">text-secondary</p>
      <p class="color-ternary">text-ternary</p>
      <div class="background-primary-gradient"></div>
      <button (click)=onDarkThemeClick() type="button" class="btn btn-primary">Dark (from app component)</button>
      <button (click)=onLightThemeClick() type="button" class="btn btn-primary">Light (from app component)</button>
      <img src="../assets/images/banner/Nikola-Bojkovic-profile-image.png" width="484" height="506">
   </div>

