@import "../styles.scss";
.theme-light {
    $primary: black;
    $secondary: white;
}
.theme-dark {
    $primary: white;
    $secondary: black;
}
p {
    color: $primary;
    background-color: $secondary;
}