   <!-- Icons -->
   <!--   <fa-icon [icon]="['fas', 'arrow-rotate-right']"></fa-icon>  Solid icons  6.0 -->
   <!--   <fa-icon [icon]="['far', 'chess-bishop']"></fa-icon>        Regular icons 6.0 -->

   <div>
      {{ 'Hello World' | translate }}
      {{ 'match' | translate}}
      {{  storage | translate}}
   </div>

   <button (click) = "changeToEnglish()" type = "button" class = 'btn btn-primary'>
      {{ 'English' | translate}}
   </button>
   <button (click) = "changeToSerbian()" type = "button" class = 'btn btn-primary'>
      {{ 'Serbian' | translate}}
   </button>

   <div #site>
      <p>Parent</p>
      <app-header [site] = 'this'></app-header>
   </div>
