.theme-light {
    --color-primary: black;
    --color-secondary: white;
}
.theme-dark {
    --color-primary: white;
    --color-secondary: black;
}
p {
    color:var(--color-primary);
    background-color: var(--color-secondary);
}