.header-text {
    font-size: 12px;
    font-family: Inter-links;
    color: var(--text-secondary-color); 
    padding-top: 30px;
    text-align: center;
}
  
.text {
    font-size: 32px;
    font-family: Inter-links;
    color: var(--text-primary-color); 
    margin-top: 0px;
    text-align: center;
 }