<div class="portfolio-section-container">
    <h3 class="header-text">PORTFOLIO</h3>
    <h3 class="portfolio-header">What Have I Done</h3>
    <div class="portfolio-body">
        <div class="cards-container">
            <div (click)="displaySoftwareArchitecture();" class="card">
                <div class="card-body">
                    <div class="photo-container">
                        <img class="card-photo" src="../../../../../assets/images/portfolio/big-data-integration.jpg">
                    </div>
                    <h6 class="card-header">
                        SOFTWARE ARCHITECTURE
                    </h6>
                    <h6 class="card-header-text">
                        Big data integration
                    </h6>
                </div>
            </div>
            <div (click)="displayDevelopment();"  class="card">
                <div class="card-body">
                    <div class="photo-container">
                        <img class="card-photo" src="../../../../../assets/images/portfolio/development.jpg">
                    </div>
                    <h6 class="card-header">
                        DEVELOPMENT
                    </h6>
                    <h6 class="card-header-text">
                        Monolith to microservices
                    </h6>
                </div>
            </div>
            <div (click)="displayMentoring();"  class="card">
                <div class="card-body">
                    <div class="photo-container">
                        <img class="card-photo" src="../../../../../assets/images/portfolio/mentoring.jpg">
                    </div>
                    <h6 class="card-header">
                        MENTORING
                    </h6>
                    <h6 class="card-header-text">
                        Web development skills in 6 months.
                    </h6>
                </div>
            </div>
            <div (click)="displayLeadership();"  class="card">
                <div class="card-body">
                    <div class="photo-container">
                        <img class="card-photo" src="../../../../../assets/images/portfolio/leadership.jpg">
                    </div>
                    <h6 class="card-header">
                        LEADERSHIP
                    </h6>
                    <h6 class="card-header-text">
                        Best ways to organize a team
                    </h6>
                </div>
            </div>
            <div  (click)="displayConsulting();" class="card">
                <div class="card-body">
                    <div class="photo-container">
                        <img class="card-photo" src="../../../../../assets/images/portfolio/consulting.jpg">
                    </div>
                    <h6 class="card-header">
                        CONSULTING
                    </h6>
                    <h6 class="card-header-text">
                        Quality on the budget
                    </h6>
                </div>
            </div>
            <div (click)="displayBusiness();"  class="card">
                <div class="card-body">
                    <div class="photo-container">
                        <img class="card-photo" src="../../../../../assets/images/portfolio/business.jpg">
                    </div>
                    <h6 class="card-header">
                        BUSENISS
                    </h6>
                    <h6 class="card-header-text">
                        The more you learn, the more you earn
                    </h6>
                </div>
            </div>
        </div>

    </div>
</div>
