<p class="title">Contact Me</p>
<div class="contact-page">
  <div class="info-section">
    <img src="../../assets/images/contact/contact-page-info-section.jpeg" alt="contact-photo" style="width:100%">
    <div class="container-information">
      <p class="developer-name">Nikola Bojkovic</p>
      <p class="position-and-information">Chif operating officer</p>
      <p class="position-and-information">I am available for freelance work. Connect with me via and call in to my
        account.</p>
      <p class="contact-number">Phone: +381 60 34 34 097</p>
      <p class="contact-email">Email: nikolabojkovic@gmail.com</p>
    </div>
    <div class="media-container">
        <p class="position-and-information">FIND ME ON</p>
        <div class="links-container">
            <a>
                <div class="link-container">
                    <fa-icon 
                        class="icons-links"
                        [icon]="facebook"
                    >
                    </fa-icon>
                </div>
            </a>
            <a>
                <div class="link-container">
                    <fa-icon 
                        class="icons-links" 
                        [icon]="instagram"
                    >
                    </fa-icon>
                </div>
            </a>
            <a>
                <div class="link-container">
                    <fa-icon 
                        class="icons-links" 
                        [icon]="twitter"
                    >
                    </fa-icon>
                </div>
            </a>
            <a>
                <div class="link-container">
                    <fa-icon 
                        class="icons-links" 
                        [icon]="linkedin"
                    >
                    </fa-icon>
                </div>
            </a>    
        </div>
    </div>
 </div>
<div class="contact-page-forms">
    <div class="forms-container">
      <form action="/action_page.php">
    
       <div class="forms-section">
         <div class="input-container-one">
           <label for="fname">YOUR NAME</label>
           <input type="text" id="fname" name="firstname">
         </div>
         <div class="input-container-two">
           <label for="pnumber">PHONE NUMBER</label>
           <input type="text" id="pnumber" name="phonenumber">
         </div>
         </div>
          <label for="email">EMAIL</label>
          <input type="text" id="email" name="email">
          <label for="subject">SUBJECT</label>
          <input type="text" id="subject" name="subject">
          <label for="message">YOUR MESSAGE</label>
          <textarea id="message" name="message"></textarea>
          <input id="button" type="submit" value="SEND MESSAGE">
      </form>
    </div>
  </div>
 </div>
 <div class="my-location">
 <div class="container-title-location">
<p class="title-location">My Location</p>
</div>
<div class="google-map-location">
  <div class="map-location-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d181139.35491305715!2d20.28251233706116!3d44.815403289561466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aa3d7b53fbd%3A0x1db8645cf2177ee4!2sBelgrade!5e0!3m2!1sen!2srs!4v1655900278775!5m2!1sen!2srs" width="100%" height="325" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div> 
</div>