
 
<div class="development-strategy">
   <div class="text-and-photo">
       <p class="title">Development Strategy</p>
          
       <p class="text">First we need to know what kind of application we are going to build. Is it going to be a small app, medium size app or huge system used by a lot of uses? Is it going to be a monolith app or we need to split the domain accross microservices. It all depends. </p>

        <p class="text"> How many team members do wee need to have? What about other resources? </p>
        
        <p class="text"> A lot of questions has to be answered before we start development. As soon as we get all the answers we have to analyse everyting and make decisions. </p>
        
        <p class="text">What kind of strategy we are going to use depends on complecity of the project, budget of course and how much time do we have to develop a solution. </p>
        
        <p class="text"> Then we have to choose, are we going to develop in interation or we going to have a straight forward plan and do it all in one go. </p>
            
        <p class="text">Usually it is the best idea to start small as a simple app and then grow and develop to a more complicated system if we need to.</p>
   
        <b>
            <a 
                class="link-text"
                [routerLink]="['/home']" 
                (click)="closeFeatures()" 
            >
                GO BACK
            </a>
        </b>   

    </div>

   <div class="text-and-photo-secondary">
    <img class="image-development" src="../../../../../assets/images/features/development strategy.jpg" alt="development">
   </div>
</div>

