
@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(../../../../../assets/fonts/inter/Inter-ExtraBold.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Inter-links';
    src: local('Inter'), url(../../../../../assets/fonts/inter/Inter-Medium.ttf) format('truetype');
}
.development-strategy {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.text-and-photo {
    width: 500px;
    height: 550px;
    margin: 40px;
    padding: 20px;
}


.text-and-photo-secondary {
    width: 500px;
    height: 550px;
    margin: 40px;
    padding: 20px;
}

.title {
    font-size: 36px;
    font-family: Inter;
    color: white;
}

.text {
    font-size: 14px;
    font-family: Inter-links;
    color: rgb(114, 113, 113);
}

.red-color-text {
    color: red;
    font-size: 14px;
    font-family: Inter;
}

.image-development {
    width: 100%;
    height: 339px; 
    padding-top: 35px;
    object-fit: contain;
}

//Laptop screen

@media only screen and ( max-width: 1160px) and (min-width: 551px){

    .development-strategy { 
        flex-direction: column;
        height: auto;
    }

    .text-and-photo {
        width: 500px;
        height: 550px;
        margin: 40px;
        padding: 20px;
    }

    .text-and-photo-secondary {
        width: 500px;
        height: 550px;
        padding: 20px;
    }

    .image-development {
        width: 100%;
        height: auto; 
        padding-top: 0px;
        object-fit: contain;
    }
}

//Mobile screen

@media only screen and ( max-width: 550px) and (min-width: 220px){
    
    .development-strategy { 
        flex-direction: column;
        height: auto;
    }

    .text-and-photo {
        width: calc( 100% - 20px );
        height: auto;
        padding: 5px;
        margin: 10px;
    }

    .text-and-photo-secondary {
        width: calc( 100% - 30px);
        height: auto;
        padding: 0px;
        margin: 15px;
    }

    .image-development {
        width: 100%;
        height: auto; 
        padding-top: 0px;
        object-fit: contain;
    }
}