
<div class="development-strategy">
   <div class="text-and-photo">
       <p class="title">Mentoring</p>
          
       <p class="text">Everyone can learn web development. It is easy and fun. The only required thing is to organize your time and be patient. It is much easyer when you do not have to struggle and when you can learn from other people’s mistakes.</p>

        <p class="text">Eather if you want to learn web development from scratch or you want to improve what you already know, mentoring can speed up the proccess 10x. You can be sure that you are on the right path and that you do not have to waste your time searching around for solutions whan mentor can give you answers imediatlly.</p>
        
        <p class="text">The first step - self organize. Having good organization and a plan is 50% work done. If you know where are you going and who you want to become, nothing can stop you. Mentor can help you self organize your time and it is up to you to choose your pace.</p>
        
        <p class="text">After you have organized your time and when you have a plan the next step is to track progress, so that you can see if you are going forward or not. By tracking progress you are mesuring you results and that is indicator if you have to try a little big harder or keep doing what you currently do in order to accomplish your goals.</p>
        
        <p class="text">Learn by doing is the next step. It is not enough to just read and remember, it has to be done in practice. One hour of theory requires three hours of practice. if you get stuck mentor can help you and push you forward.</p>
            
        <p class="text">It always could be done better! There is not the reason to stop, you alwas can learn something new and increase your value. Leaning and improving step by step is not exhausting, it is easy, fun and valuable.</p>
        
        <p class="title-check-list">Basic coding practices lke:</p>

        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">KISS</p>
        </div>
        
        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">YAGNI</p>
        </div>

        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">LESS is MORE</p>
        </div>
        
        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">DRY</p>
        </div>
        
        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">OOP</p>
        </div>
        
        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">SOLID priciples</p>
        </div>

        <p class="text-one">are the base and these help you to write clean and maintainable code.</p>

        <p class="title-check-list">Advanced programming techniques like:</p>

        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">Right time to refactor the code</p>
        </div>
          
        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">Right time to swhitch to different architecture</p>
        </div>
  
          <div class="check-list">
            <i class="fa fa-check item-check" style="font-size:24px"></i>
            <p class="text-check-list">Cover everyting with tests</p>
          </div>
          
          <div class="check-list">
            <i class="fa fa-check item-check" style="font-size:24px"></i>
            <p class="text-check-list">Devide and conquer </p>
          </div>
          
          <div class="check-list">
            <i class="fa fa-check item-check" style="font-size:24px"></i>
            <p class="text-check-list">Develop in iterations</p>
          </div>
  
          <p class="text-one">will bring your coding skills to the next level.</p>

          <b>
            <a 
                class="link-text"
                [routerLink]="['/home']" 
                (click)="closeFeatures()" 
            >
                GO BACK
            </a>
          </b>   

    </div>

   <div class="text-and-photo-secondary">
    <img class="image-development" src="../../../../../assets/images/features/mentoring.jpg" alt="mentoring">
   </div>
</div>

