.footer-dark {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: lighten($black, 5%) !important;
  border-color: lighten($black, 15%) !important;
  color: darken($white, 10%);
}

.copyright-dark {
  background-color: lighten($black, 0%);
  color: $white;
  font-size: 18px;
}
