@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/inter/Inter-ExtraBold.ttf) format('truetype');
}
   
@font-face {
    font-family: 'Inter-links';
    src: local('Inter'), url(assets/fonts/inter/Inter-Medium.ttf) format('truetype');
}

$displayable: block;

:root {
    --text-shadow-length: 10%;
}

.theme-light-blue {
    --text-primary-color: #000000;
    --text-secondary-color: #24C6D0;
    --text-ternary-color: #727272;

    --background-primary-color: #EDEDED;
    --background-secondary-color: #E1E1E1;
    --background-primary-gradient: linear-gradient(125deg, rgba(226,225,225,1) 50%, rgba(198,198,198,1) 100%);
}

.theme-light-red {
    --text-primary-color: #000000;
    --text-secondary-color: #BE1E1E;
    --text-ternary-color: #727272;

    --background-primary-color: #EDEDED;
    --background-secondary-color: #E1E1E1;
    --background-primary-gradient: linear-gradient(125deg, rgba(226,225,225,1) 50%, rgba(198,198,198,1) 100%);
}

.theme-dark-red {
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #BE1E1E;
    --text-ternary-color: #BEB2B2;

    --background-primary-color: #232324;
    --background-secondary-color: #000000;
    --background-primary-gradient: linear-gradient(126deg, rgba(27,27,28,1) 50%, rgba(45,44,44,1) 100%);
}

.theme-dark-blue {
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #24C6D0;
    --text-ternary-color: #BEB2B2;

    --background-primary-color: #232324;
    --background-secondary-color: #000000;
    --background-primary-gradient: linear-gradient(126deg, rgba(27,27,28,1) 50%, rgba(45,44,44,1) 100%);
}

p {
    transition: color 1s;
    transition: background-color 1s;
}

body {
    background-color: var(--background-primary-color) !important;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.left.carousel-control, .right.carousel-control {
    display: none;
}

.carousel-inner {
    overflow: visible;
}

///// RESUME CSS
/// 

.resume-container {
    width: 100%;
    height: auto;
}

.header-text {
    font-size: 12px;
    font-family: Inter-links;
    color: var(--text-secondary-color); 
    padding-top: 30px;
    text-align: center;
  }
  
  .text {
    font-size: 32px;
    font-family: Inter-links;
    color: var(--text-primary-color); 
    margin-top: 0px;
    text-align: center;
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  body {
    font-family: Helvetica, sans-serif;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--background-secondary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    cursor: pointer;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--background-primary-color);
    border: 4px solid var(--background-secondary-color);
    top: 115px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: -25.4%;
  }

  /* Place the container to the right */
  .right {
    left: 25.4%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 120px;
    width: 0;
    z-index: 1;
    right: 66px;
    border: medium solid var(--background-secondary-color);
    border-width: 13px 0 13px 13px;
    border-color: transparent transparent transparent var(--background-secondary-color);;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 117px;
    width: 0;
    z-index: 1;
    left: 60px;
    border: medium solid var(--background-secondary-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--background-secondary-color) transparent transparent;
  }
  
  .content::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    box-shadow:  -4px -2px 35px -2px var(--text-ternary-color);
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    padding-top:25px;
    padding-bottom:12px;
    width: 450px;
    background-image:linear-gradient(320deg, var(--background-primary-color), var(--background-secondary-color));
    position: relative;
    border-radius: 6px;
    left: 30px;
    color: var(--text-ternary-color);
    transition-duration: 1s;
    z-index: 3;
  }

  .content:hover {
    color: var(--text-primary-color);
    background-image:linear-gradient(320deg, var(--background-secondary-color), var(--background-secondary-color));
  }

  .content::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 10px 15px 5px var(--background-secondary-color);
  }

  .content-title {
    font-size: 20px;
  }
  
  .content-job-title {
    color:var(--text-secondary-color);
  }

  .timeline-title {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */

  @media screen and (max-width:1200px) and (min-width:820px){
    .left {
        left: 5%;
    }

    .right {
        left: 5%;
    }

    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 80%;
        cursor: pointer;
    }

    .container::after {
        position: absolute;
        right:0px;
        left:-20px;
    }

    .content {
        width: 80%;
    }


    .timeline::after {
        display: none;
    }

    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 117px;
        width: 0;
        z-index: 1;
        left: 60px;
        border: medium solid var(--background-secondary-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--background-secondary-color) transparent transparent;
    }
  }


  @media screen and (max-width:820px) and (min-width:450px){
    .left {
        left: 0%;
    }

    .right {
        left: 0%;
    }

    .right::before {
        left:60px;
    }

    .container {
        padding: 10px 30px;
        position: relative;
        background-color: inherit;
        width: 100%;
        cursor: pointer;
    }

    .container::after {
        position: absolute;
        right:0px;
        left:15px;
    }

    .content {
        width: 97%;
    }


    .timeline::after {
        display: none;
    }

    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 117px;
        width: 0;
        z-index: 1;
        left: 60px;
        border: medium solid var(--background-secondary-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--background-secondary-color) transparent transparent;
    }
  }
 
  @media screen and (max-width:450px) and (min-width:200px){
    .left {
        left: 0%;
    }

    .right {
        left: 0%;
    }

    .text {
        font-size:18px;
        margin-bottom: 0px;
    }

    .timeline-title {
        font-size: 30px;
        margin-top: 10px;
    }

    .container {
        padding: 10px 30px;
        padding-right:25px;
        position: relative;
        background-color: inherit;
        width: 100%;
        cursor: pointer;
    }

    .container::after {
        position: absolute;
        right:0px;
        left:10px;
    }

    .content {
        width: 99%;
        padding:15px 10px 3px 20px;
        position: relative;
        left:13px;
    }


    .timeline::after {
        display: none;
    }

    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 117px;
        width: 0;
        z-index: 1;
        left: 60px;
        border: medium solid var(--background-secondary-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--background-secondary-color) transparent transparent;
    }
  }


//// Portfolio-section 

// Modals

.modal-dialog {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.modal-content {
  width: 1100px;
}

.modal-body {
  padding-top: 0px;
  padding-left: 30px;
  min-height: 550px;
  background-color: var(--background-primary-color) !important;
}

.modal-header {
  border-bottom: none;
  margin-bottom: px;
  padding-bottom: 10px;
  position: relative;
  padding-top:30px;
  background-color: var(--background-primary-color) !important;
}

.btn-close {
  font-size: 16px;
}
