// Variables

$white: #fff !default;
$grey: #e6e6e6 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: rgb(86, 151, 248) !default;
$secondary: rgb(66, 69, 71) !default;

$progress-bar: rgb(211, 211, 211) !default;
$progress-bar-dark: rgb(71, 71, 71) !default;
$secondary-progress-bar:rgb(95, 177, 115) !default;

$linkedin: #4875B4;
$github: $secondary;
$upwork: rgb(51, 201, 59);
$facebook: #3B5998;
$google-plus: #C63D2D;
$twitter: #33CCFF;
