<div class="resume-container">
    <div class="title-container">
        <p class="text">Intelisale</p>
    </div>

    <h4 class="timeline-title">November 2020.</h4>
    <div class="timeline">
        <div  class="container left">
            <div class="content">
              <h2 class="content-title">WEB API from scratch</h2>
              <p>.Net Core & Software Architecture</p>
              <p>Software Architecture <br> Team organization and management
                <br>Communication & development support</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
              <h2 class="content-title">Monolith to microservices</h2>
              <p>.Net core & Microservices</p>
              <p>Monolith to microservices conversion <br> Proxy and gateway setup
                <br>Refactor & Redesign</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
              <h2 class="content-title">E-Commerce</h2>
              <p>Nop Commerce & ASP Net</p>
              <p>Open Source app <br>
                Plugin architecture
                <br>E-Shop
              </p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
              <h2 class="content-title">Sales Leader - Web API</h2>
              <p>.Net Core & Angular.</p>
              <p>
                N-Tier application <br>MSSQL database
                <br>Monolith app
              </p>
            </div>
        </div>
    </div>
</div>
<h4 class="timeline-title">December 2019.</h4>

<div class="resume-link-text-container">
  <b>
    <a 
        class="resume-link-text"
        (click)="closeResume()" 
        [routerLink]="['/home']"
    >
        GO BACK
    </a>
  </b>   
</div>