
 
<div class="development-strategy">
   <div class="text-and-photo">
       <p class="title">Project Implementation</p>
          
       <p class="text">According to choosen architecture project implementation starts by choosing right tech stack, creating and linking projects inside solution and setting appropriate code structure. I organize code into classes, classes into folders and folders are grouped by business uniits or domaiin context.</p>

        <p class="text">Coding best practies and SOLID principles always apply and designed pattersn are choosen based on project or domain complexity. Refactoring is always easyier when code is clean.</p>
        
        <p class="text">Unit tests are written to test only doomain logic inside a class and tests are organized and ordered to run and test piece by peice of every class. 80% of code coverage is recomended.</p>
        
        <p class="text">With Integration testing every connection between components is tested. And performance testing is final touch where we are sure that our project works as expected.</p>
        
        <p class="text">I like to organize a project accoring to Agile and it is usually scrum, which is a great tool to separate features and plan what is going to be implemented in MVP versioin and what can be done letter in the next stage of project implementation. Collaboration with BA and Product Owner is much easyer when they know what features they can change and improve and what features are currently under development and should not be changed until that development phase is finished.</p>
            
        <b>
            <a 
                class="red-color-text"
                [routerLink]="['/home']" 
                (click)="closeFeatures()" 
            >
                GO BACK
            </a>
        </b>   

    </div>

   <div class="text-and-photo-secondary">
    <img class="image-development" src="../../../../../assets/images/features/project-implementation.jpg" alt="project">
   </div>
</div>
