.footer-dark {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: lighten($black, 5%) !important;
    border-color: lighten($black, 15%) !important;
    color: darken($white, 10%);
  }
  
.copyright-dark {
  background-color: lighten($black, 0%);
  color: $white;
  font-size: 18px;
}

.btn-social-dark {
  width: 3.0rem;
  height: 3.0rem;
  font-size: 1.0rem;
  line-height: 1.8rem;
  margin: 10px;
  color: darken($white, 10%);
  border: 2px solid darken($white, 10%);
}

  