// Styling for the navbar
.navbar-dark {
  border-color: lighten($black, 15%) !important;
  background-color: lighten($black, 5%) !important;

  span {
    color: $white;
  }

  .navbar-brand {
    color: $black;
    background-color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $black;
    }
  }
  .navbar-nav {
    li.nav-item {
      a.nav-link {
        background-color: lighten($black, 5%) !important;
        border: none;
        color: $primary !important;
      }
    }
  }
  .navbar-toggler {
    color: lighten($black, 50%);
    border: 1px solid lighten($black, 50%);
  }
} /* end of small screen resolution */
@media(min-width:992px) {
  .navbar-dark {
    .navbar-nav {
      li.nav-item {
        a.nav-link {
          border-bottom: 5px solid lighten($black, 5%) !important;
          color: $white;
          &:hover {
            border-bottom: 5px solid darken($primary, 35%) !important;
          }
          &.active {
            color: $white !important;
          }
        }
      }
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white !important;
      border-bottom: 5px solid darken($primary, 10%) !important;
      &:active,
      &:focus,
      &:hover {
        border-bottom: 5px solid darken($primary, 10%) !important;
      }
    }
  }
}
