
<div class="development-strategy">
   <div class="text-and-photo">
       <p class="title">Leadership</p>
        

        <p class="text">
            Leading a team or a project is huge responsibility. Leadership refers to being a leader not a boss.  So what is the difference? Leader is most experienced and do the most difficult tasks while organizing the rest of the team. Boss only track progress and do micro-managment.
        </p>
        <p class="title-check-list">At the beggining of the project it is important to get all questions answered:</p>

        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list"> Who are the team members (experience, roles...)</p>
        </div>
        
        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">Scope of the project (size, duration, complexity...)</p>
        </div>

        <div class="check-list">
          <i class="fa fa-check item-check" style="font-size:24px"></i>
          <p class="text-check-list">Milestones & deadlines </p>
        </div>
        
        
        <p class="title-check-list">
            If the team is going to build project according to Agile, then time-boxing and meetings are REALY important like:
        </p>

        <div class="check-list">
            <i class="fa fa-check item-check" style="font-size:24px"></i>
            <p class="text-check-list">Grooming </p>
        </div>
        <div class="check-list">
            <i class="fa fa-check item-check" style="font-size:24px"></i>
            <p class="text-check-list">Planning (sprint of 2 weeks, milestones, sprint goals...) </p>
        </div>
        <div class="check-list">
            <i class="fa fa-check item-check" style="font-size:24px"></i>
            <p class="text-check-list">Daily meetings (team members sync) </p>
        </div>
        <div class="check-list">
            <i class="fa fa-check item-check" style="font-size:24px"></i>
            <p class="text-check-list">Retrospective  </p>
        </div>
   
        <p class="text">
            Communication in the team is also very important. Opened and transparent communicatioin alonside constant support from the Team Lead. If team members are quiet and they do not speak to much that means something is wrong and Team Leader has to encourage team members to talk to him and tell him what probles they have. Team Leader is resposible to help and resolve evry problem team members have so that they are not blocked or distracted.
        </p>

        <p class="text">
            Leader invest resources in a team and team members and build pleasent working environment, on the other side boss is just intersted to get as much as possible from a team while saving on resources. Who do you want to be Leader or Boss?
        </p>

        <p class="text">
            It is not the same if the team you are leading is small or huge. If the team is small then it is easier to track everyting and stay up to date, but if the team is huge then help is needed, team has to be splitted into multiple groups, every group has to have someone to lead the group and report to main Team Leader. It is not possible to have evryone in every meeting so goups should have separate meetings and one meeting to sync all groups. Every group can potentialy become separate team in the future.
        </p>
        <b>
            <a 
                class="link-text"
                [routerLink]="['/home']" 
                (click)="closeFeatures()" 
            >
                GO BACK
            </a>
        </b>   

    </div>

   <div class="text-and-photo-secondary">
    <img class="image-development" src="../../../../../assets/images/features/leadership.jpg" alt="Leadership">
   </div>
</div>

