
<div class="development-strategy">
   <div class="text-and-photo">
       <p class="title">Leadership</p>
          
       <p class="text">Description:</p>

        <p class="text-1">How to organize a team</p>
        
        <p class="text-2">What is important at the beggining of the project</p>
        
        <p class="text-3">What about communication and organization</p>
        
        <p class="text-4">Leader vs boos</p>
            
        <p class="text-5">Small team vs large team</p>
   
        <b>
            <a 
                class="red-color-text"
                [routerLink]="['/home']" 
                (click)="closeFeatures()" 
            >
                GO BACK
            </a>
        </b>   

    </div>

   <div class="text-and-photo-secondary">
    <img class="image-development" src="../../../../../assets/images/features/leadership.jpg" alt="Leadership">
   </div>
</div>

