<div class='media-container-mobile-holder'>
    <div class="media-container-mobile">
      <p class="media-container__text-mobile">{{ 'FIND ME ON' | translate }}</p>
      <div class="links-container">
          <a>
              <div class="link-container">
                  <fa-icon 
                    class="icons-links"
                    [icon]="facebook">
                  </fa-icon>
              </div>
          </a>
          <a>
            <div class="link-container">
                <fa-icon class="icons-links"
                  [icon]="instagram">
                </fa-icon>
            </div>
          </a>
          <a>
            <div class="link-container">
                <fa-icon
                  class="icons-links"
                  [icon]="twitter"
                >
                </fa-icon>
            </div>
          </a>
          <a>
            <div class="link-container">
                <fa-icon
                  class="icons-links"
                  [icon]="linkedin"
                >
                </fa-icon>
            </div>
          </a>
        </div>
      </div>
</div>