<div 
  id='menuShadow' 
  class='menu-mobile-shadow' 
  (click)="hideMobileMenu()"
>
</div>
<div class="header-container-holder">
  <div class="header-container">
    <div class="header-logo">
      <span class="red-color-logo-text">NBO</span> Development
    </div>
    <div 
      class="toggle-button"
      (click)="toggleMobileMenu()"
      >
        <fa-icon 
          class="toggler-icon-start"
          [icon]="bar"
        >
        </fa-icon> 
        <fa-icon 
          class="toggler-icon-end"
          [icon]="bar"
        >
        </fa-icon> 
    </div>
    <div class="menu">
      <ul>
          <li>
            <a 
              #refEl
              id="home" 
              (click)="activatelink(refEl); homePageActivated(); setResumeMenuItemsToDefaults()" 
              class="links default-menu-item menu-links" 
              [routerLink]="['/home']" 
              routerLinkActive="active"
            >
              {{ 'HOME' | translate }}
            </a>
          </li>
          <li class="dropdown">
            <a 
              #refEl2 
              id="features"
              href="home#featuresSection"
              class="dropdown-button default-menu-item menu-links"
              (mouseenter)="showFeatureDropDownMenu()"
            >
              {{ 'FEATURES' | translate }}
            </a>
              <div class="dropdown-content" *ngIf ="displayFeature">
                <a
                  id="DevelopmentStrategy"
                  [ngClass]="{'feature-menu-item-active':featureMenuItemDevelopmentStrategy == true}" 
                  class= "dropdown-links feature-menu-items" 
                  [routerLink]="['/features/development-strategy']" 
                  (click)="closeFeatureDropDownMenu('development'); activatelink(refEl2); destroyHomePageShadow(); selectMenuItemEvent('developmentStrategy')"
                >
                  {{ 'DEVELOPMENT STRATEGY' | translate }}
                </a>
                <a 
                  id="SoftwareArhitecture"
                  [ngClass]="{'feature-menu-item-active':featureMenuItemSoftwareArchitecture == true}"
                  class= "dropdown-links feature-menu-items"
                  [routerLink]="['/features/software-architecture']"
                  (click)="closeFeatureDropDownMenu('softwareArchitecture'); activatelink(refEl2); destroyHomePageShadow(); selectMenuItemEvent('softwareArchitecture')"
                >
                  {{ 'SOFTWARE ARHITECTURE' | translate }}
                </a>
                <a
                  id="ProjectImplementation"
                  [ngClass]="{'feature-menu-item-active':featureMenuItemProjectImplementation == true}"
                  class= "dropdown-links feature-menu-items" [routerLink]="['/features/project-implementation']" 
                  (click)="closeFeatureDropDownMenu('projectImplementation'); activatelink(refEl2); destroyHomePageShadow(); selectMenuItemEvent('projectImplementation')"
                >
                  {{ 'PROJECT IMPLEMENTATION' | translate }}
                </a>
                <a 
                  id="Mentoring"
                  [ngClass]="{'feature-menu-item-active':featureMenuItemMentoring == true}"
                  class= "dropdown-links feature-menu-items"
                  [routerLink]="['/features/mentoring']"
                  (click)="closeFeatureDropDownMenu('mentoring'); activatelink(refEl2); destroyHomePageShadow(); selectMenuItemEvent('mentoring')"
                >
                  {{ 'MENTORING' | translate }}
                </a>
                <a 
                  id="Leadership"
                  [ngClass]="{'feature-menu-item-active':featureMenuItemLeadership == true}"
                  class= "dropdown-links feature-menu-items"
                  [routerLink]="['/features/leadership']"
                  (click)="closeFeatureDropDownMenu('leadership'); activatelink(refEl2); destroyHomePageShadow(); selectMenuItemEvent('leadership')"
                >
                  {{ 'LEADERSHIP' | translate }}
                </a>
                <a 
                  id="Consulting"
                  [ngClass]="{'feature-menu-item-active':featureMenuItemConsulting == true}"
                  class= "dropdown-links feature-menu-items"
                  [routerLink]="['/features/consulting']"
                  (click)="closeFeatureDropDownMenu('consulting'); activatelink(refEl2); destroyHomePageShadow(); selectMenuItemEvent('consulting')"
                >
                  {{ 'CONSULTING' | translate }}
                </a>
              </div>
          </li>
          <li class="dropdown">
            <a 
              #refEl3
              href="home#resumeSection"
              id="resume"
              class="dropdown-button default-menu-item menu-links"
              (mouseenter)="showResumeDropDownMenu()"
              >
                {{ 'RESUME' | translate }}
            </a>
            <div *ngIf="displayResume" class="dropdown-content">
              <a 
                [ngClass]="{'resume-menu-item-active': resumeMenuItemUniversity == true}"
                (click)="closeResumeDropDownMenu('university');  destroyHomePageShadow(); activatelink(refEl3);"
                [routerLink]="['/resume/university']" 
                class="dropdown-links"
              >
                {{ 'UNIVERSITY' | translate }}
              </a>
              <a 
                [ngClass]="{'resume-menu-item-active': resumeMenuItemInfoscreen == true}"
                (click)="closeResumeDropDownMenu('infoscreen');  destroyHomePageShadow(); activatelink(refEl3);"
                [routerLink]="['/resume/infoscreen-microgen']"
                class="dropdown-links"
              >
                {{ 'INFOSCREN/MIGROGEN' | translate }}
              </a>  
              <a
                [ngClass]="{'resume-menu-item-active': resumeMenuItemNultien == true}"
                (click)="closeResumeDropDownMenu('nultien');  destroyHomePageShadow(); activatelink(refEl3);" 
                [routerLink]="['/resume/nultien']" 
                class="dropdown-links"
              >
                {{ 'NULTIEN' | translate }}
              </a> 
              <a
                [ngClass]="{'resume-menu-item-active': resumeMenuItemIntelisale == true}"
                (click)="closeResumeDropDownMenu('intelisale'); destroyHomePageShadow(); activatelink(refEl3);"
                [routerLink]="['/resume/intelisale']"  
                class="dropdown-links"
              >
                {{ 'INTELISALE' | translate }}
              </a> 
              <a 
                [ngClass]="{'resume-menu-item-active': resumeMenuItemOrionInovation == true}"
                (click)="closeResumeDropDownMenu('orionInovation');  destroyHomePageShadow(); activatelink(refEl3);" 
                [routerLink]="['/resume/orion-inovation']"  
                class="dropdown-links"
              >
                {{ 'ORION INOVATION' | translate }}
              </a>  
            </div>   
          </li>   
          <li>
            <a  
              #refEl4 
              href="home#portfolioSection"
              id="portfolio"
              class="links default-menu-item menu-links" 
              (click)="activatelink(refEl4); resetAllLinks(); setResumeMenuItemsToDefaults()"
              >
                {{ 'PORTFOLIO' | translate }}
            </a>
          </li>
          <li>
            <a 
              #refEl5 
              id="clients"
              href="home#clientsSection"
              class="links default-menu-item menu-links" 
              (click)="activatelink(refEl5); resetAllLinks(); setResumeMenuItemsToDefaults()"
              >
                {{ 'CLIENTS' | translate }}
            </a>
          </li>
          <li>
              <a 
                #refEl6 
                id="contact"
                class="links default-menu-item menu-links" 
                (click)="activatelink(refEl6); homePageDeactivated(); resetAllLinks(); setResumeMenuItemsToDefaults()" 
                [routerLink]="['/contact']" 
                routerLinkActive="active"
                >
                 {{ 'CONTACT' | translate }}
              </a>
            </li>
          <li>
            <a 
              #refEl7 
              id="github"
              class="links default-menu-item menu-links"
              (click)="activatelink(refEl7); resetAllLinks(); setResumeMenuItemsToDefaults();"
              href="https://github.com/nikolabojkovic" target="_blank"
              >
                {{ 'GITHUB' | translate }}
            </a>
          </li>
          <li class="dropdown">
            <a 
            #refEl8 
            (click)="displaySettings(refElSettingsButton);"
            class="dropdown-button default-menu-item menu-links"
            >
            <div class="gear-container" #refGearIcon >
              <fa-icon id="settingsButton" class="themes-icon-primary" [icon]="gear"></fa-icon>
            </div>
            </a>
            <div class="dropdown-content-settings">
              <div #refElSettingsButton class="dropdown-navigation dropdown-content-theme">
                <div>
                  <span class="settings-item theme-text dropdown-navigation-item-theme">
                    {{ 'THEMES' | translate }}
                  </span>
                </div>
                <a 
                  id="lightThemeID" 
                  #themeLightID
                  (click)="displayOnLightThemeColorPicker();"
                  class="default defaultThemeColor"
                >
                  <div class="settings-item theme-text">
                    {{ 'LIGHT' | translate }}
                    <fa-icon 
                      class="theme-colors themes-icons-secondary" 
                      [icon]="sun"
                    >
                      asdasd
                    </fa-icon>
                    <div [ngClass]="{'display':lightThemeColorPickerState == true, 'hide':lightThemeColorPickerState == false }" id="LightThemeColorPickerID" class="settings-item__color display">
                      <div (click)="onLightRedThemeClick(); displaySettings(refElSettingsButton); activeThemeItem(themeLightID);" class="settings-item__color__item">
                        <span>RED</span>
                        <span>
                          <fa-icon 
                            class="theme-colors themes-icons-secondary redSun" 
                            [icon]="sun"
                          >
                            asdasd
                          </fa-icon>
                        </span>
                      </div>
                      <div (click)="onLightBlueThemeClick(); displaySettings(refElSettingsButton); activeThemeItem(themeLightID);" class="settings-item__color__item">
                        <span>BLUE</span>
                        <span>
                          <fa-icon 
                            class="theme-colors themes-icons-secondary blueSun" 
                            [icon]="sun"
                          >
                            asdasd
                          </fa-icon>
                        </span>
                      </div>
                    </div>
                  </div>
                </a>
                <a
                  id="darkThemeID" 
                  #themeDarkID
                  (click)="displayOnDarkThemeColorPicker();"
                  class="default"
                >
                  <div class="settings-item theme-text">
                    {{ 'DARK' | translate }}
                    <fa-icon 
                      class="theme-colors themes-icons-secondary" 
                      [icon]="moon"
                      >
                    </fa-icon>
                    <div 
                      [ngClass]="{'display':darkThemeColorPickerState == true, 'hide':darkThemeColorPickerState == false }"
                      id="DarkThemeColorPickerID"
                      class="settings-item__color display"
                    >
                      <div (click)="onDarkRedThemeClick(); displaySettings(refElSettingsButton); activeThemeItem(themeDarkID);" class="settings-item__color__item">
                        <span>RED</span>
                        <span>
                          <fa-icon class="theme-colors themes-icons-secondary redMoon" [icon]="moon"></fa-icon>
                        </span>
                      </div>
                      <div (click)="onDarkBlueThemeClick(); displaySettings(refElSettingsButton);  activeThemeItem(themeDarkID);" class="settings-item__color__item">
                        <span>BLUE</span>
                        <span>
                          <fa-icon 
                            class="theme-colors themes-icons-secondary blueMoon" 
                            [icon]="moon"
                          >
                            asdasd
                          </fa-icon>
                        </span>
                      </div>
                    </div>
                  </div>
                </a>
                <div>
                  <span class=" theme-text dropdown-navigation-item-language">
                    {{ 'LANGUAGES' | translate }}
                  </span>
                </div>
                <a 
                  id="lightThemeID" 
                  (click)="displaySettings(refElSettingsButton)"
                  class="default"
                >
                  <div class="settings-item theme-text">
                    {{ 'ENGLISH' | translate }}
                    <span><img class="flags" src="../../../../assets/images/header/america.jpg"></span>
                  </div>
                </a>
                <a
                  id="darkThemeID" 
                  (click)= "displaySettings(refElSettingsButton)"
                  class="default"
                >
                  <div class="settings-item theme-text">
                    {{ 'SERBIAN' | translate }}
                    <span><img class="flags" src="../../../../assets/images/header/srbija.jpg"></span>
                  </div>
                </a>
              </div>
            </div>  
          </li>
      </ul>
    </div> 
  </div>
</div>

<app-mobile-header></app-mobile-header>

  
  
