<div class="modal-container">
  <div class="modal-header">
    <fa-icon
      class="btn-close-custom"
      [icon]="btn_close"
      (click)="modalRef?.hide()"
    >
    </fa-icon>
  </div>
  <div class="modal-body">
    <div class="modal-body-container">
      <div class="photo-container">
        <img class="card-photo" src="../../../../../assets/images/portfolio/big-data-integration.jpg">
      </div>
      <div class="text-container">
        <p class="text-container__paragraph">Portfolio - Software Architecture</p>
        <h4 class="text-container__header">Big data integration</h4>
        <p class="text-container__paragraph">Big data is a topic on it self. When we have to deal with big data then we have to construct our system to suport huge amount of data and to support huge trafiic.</p>
        <p class="text-container__paragraph">Storing data in the clound or on premiss, eather way we need to have data storage accounts & messaging services. </p>
        <p class="text-container__paragraph">Time consuming operations will take some tiime to complete so we also need to find alternative ways to inform Users when an operations finishes (eaether fail or success).</p>
        <p class="text-container__secondary-header">Big data integration could be done in two different ways:</p>
        <div class="list-of-items">
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Extract</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Transform</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Load</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-transparent"></i>
            <p class="li-item">or</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Extract</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Load</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Transform</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>