<div class="resume-container">
    <div class="title-container">
        <p class="text">University</p>
    </div>

    <h4 class="timeline-title">2016.</h4>
    <div class="timeline">
        <div  class="container right">
            <div class="content-right">
              <h2 class="content-title">Projects & practice</h2>
              <p>FE + BE</p>
              <p>
                Static Websites
                <br>CMS
                <br>Web apps
                <br>Client-Server apps
              </p>
            </div>
        </div>
        <div class="container left">
            <div class="content-left">
              <h2 class="content-title">Web Development</h2>
              <p>HTML / CSS / Javascript / JQuery / PHP / .Net Framework / Java</p>
              <p>
                FE apps development
                <br>BE apps development
                <br>Full Stack apps development
              </p>
            </div>
        </div>
        <div class="container right">
            <div class="content-right">
              <h2 class="content-title">Design patterns & codding best practicies</h2>
              <p>Java / PHP / .Net Framework</p>
              <p>
                Singleton, Factory, Builder
                <br>KISS, DRY, LESS is MORE
              </p>
            </div>
        </div>
        <div class="container left">
            <div class="content-left">
              <h2 class="content-title">IDE & other tools</h2>
              <p>Visual Studio / PHP Storm / Eclipse / MSSQL Studio / PHP MyAdmin</p>
              <p>
                How to use different IDEs and tools
              </p>
            </div>
        </div>
        <div class="container right">
            <div class="content-right">
              <h2 class="content-title">Alghoritms & data structures</h2>
              <p>C++ / Java / PHP</p>
              <p>
                Arrays
                <br>Lists
                <br>Simple data types
                <br>Hash table vs Hash set
                <br>Objects
              </p>
            </div>
        </div>
    </div>
</div>
<h4 class="timeline-title">2012.</h4>

<div class="resume-link-text-container">
    <b>
      <a 
          class="resume-link-text"
          (click)="closeResume()" 
          [routerLink]="['/home']"
      >
          GO BACK
      </a>
    </b>   
</div>