<div class="resume-container">
    <div class="title-container">
        <p class="header-text">RESUME</p>
        <p class="text">Education & Experience</p>
    </div>

    <h4 class="timeline-title">2022</h4>
    <div class="timeline">
        <div (click)="destroyHomePageShadow(); activatelink()" [routerLink]="['/resume/orion-inovation']" class="container right">
          <div class="content">
            <h2 class="content-title">Orion Inovation (Mera)</h2>
            <p><span class="content-job-title">Team Lead/Software Architect</span>  (2021-present) 2 yrs</p>
            <p>.Net Core & Angular.<br>Team organization, Software Architecture, Big data Integration, Time management, Ticketing Systems, Content Management Systems.</p>
          </div>
        </div>
        <div (click)="destroyHomePageShadow(); activatelink()" [routerLink]="['/resume/intelisale']"  class="container left">
            <div class="content">
              <h2 class="content-title">Intelisale</h2>
              <p><span class="content-job-title">Senior Web Developer</span> (2020-2021) 2 yrs</p>
              <p>.Net Core & Angular.<br>Monolith to SOA an microservices, Unit Testing, Integration Testing, Performance Testing, Software Architecture, E-Commerce, Plugin architecture</p>
            </div>
        </div>
        <div (click)="destroyHomePageShadow(); activatelink()" [routerLink]="['/resume/nultien']"  class="container right">
            <div class="content">
              <h2 class="content-title">NulTien</h2>
              <p><span class="content-job-title">Medior Web Developer</span> (2018-2019) 1 year</p>
              <p>.Net Core & Angular<br>
                Back-end & Front-end software development, Agile, MSSQL, Design Patterns, SOLID principles
                Monolith apps, real time updated apps, Actor system.</p>
            </div>
        </div>
        <div (click)="destroyHomePageShadow(); activatelink()" [routerLink]="['/resume/infoscreen-microgen']"  class="container left">
            <div class="content">
              <h2 class="content-title">InfoScreen (Microgen)</h2>
              <p><span class="content-job-title">Junior/Medior Software Developer</span> (2015-2018) 3 yrs</p>
              <p>Client-Server server architecture. <br>
                C++ & .Net, winForms <br>
                Design patterns, client-server communication over http protocol and sockets, bug fixing, software maintenance and wizard forms implementation
              </p>
            </div>
        </div>
        <div (click)="destroyHomePageShadow(); activatelink()" [routerLink]="['/resume/university']"  class="container right">
            <div class="content">
              <h2 class="content-title">Bachelor’s Degree in Web Development</h2>
              <p><span class="content-job-title">University</span> (2012-2016) 4 yrs</p>
              <p>
                Techical skills, communication and full-stack development.
                C++, .Net/.Net Core, JavaScript, HTML, CSS, JQuery, JSON Building project, documentation and presenting solution.
              </p>
            </div>
        </div>
    </div>
</div>
<h4 class="timeline-title">2012</h4>
