<div class="modal-container">
  <div class="modal-header">
    <fa-icon
      class="btn-close-custom"
      [icon]="btn_close"
      (click)="modalRef?.hide()"
    >
    </fa-icon>
  </div>
  <div class="modal-body">
    <div class="modal-body-container">
      <div class="photo-container">
        <img class="card-photo" src="../../../../../assets/images/portfolio/business.jpg">
      </div>
      <div class="text-container">
        <p class="text-container__paragraph">Portfolio - Business</p>
        <h4 class="text-container__header">The more you lear, the more you earn</h4>
        <p class="text-container__paragraph">Technology is constantly envolving and we have to keep up to date with lattest technology, but it is also important to always learn sometning new.</p>
        <div class="list-of-items">
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to create a software? </p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to create high quality software? </p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to get in touch with clients?    </p>
          </div>
        </div>
        <p class="text-container__paragraph">These are just some of the questions that I can give you answers to. Doing business is chalanging but exiting at the same time. There is a lot of things to learn and a lot of experince is needed.</p>
        <p class="text-container__paragraph">In our consulting program you can get a lot info about: </p>

        <div class="list-of-items">
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to get clients</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to create high qualitly software</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to organize a team</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to improve communicadtion withing the team</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check check-box-icon"></i>
            <p class="li-item">How to deal with finances</p>
          </div>
        </div>
        <p class="text-container__paragraph">A lot of things that I can help you with, all related to business.</p>
      </div>
    </div>
  </div>
</div>