@import '../../styles.scss';

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: darken($white, 5%) !important;
  border-color: darken($white, 15%) !important;
  color: lighten($secondary, 10%);
}
  
.copyright {
  background-color: darken($white, 20%);
  font-size: 18px;
}

.btn-social {
  width: 3.0rem;
  height: 3.0rem;
  font-size: 1.0rem;
  line-height: 1.8rem;
  margin: 10px;
  color: $secondary;
  border: 2px solid $secondary;
}

.social-network-container {
  max-width: 200px;
  margin: auto;
}
  