<footer [ngClass] = "'footer' + theme.cssValue" class="inner-shadow text-center border-top mt-4" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h6 class="text-uppercase mb-4">Location</h6>
                <p class="mb-0">11000 Belgrade, Serbia</p>
                <h6 class="text-uppercase mb-4">Tel:</h6>
                <p> Call: <a href="tel: +381603434097" class="col-md-12">+381 60 34 34 097</a></p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h6 class="text-uppercase mb-4">Around the Web</h6>
                <div class="row justify-content-center social-network-container">      
                    <div *ngFor="let network of socialNetworks; index" class="">
                        <a [ngClass] = "['btn-social' + theme.cssValue, network.name]" 
                            class="btn shadow text-center rounded-circle"
                            [href]="network.link">
                            <i class="fa fa-fw" [ngClass]="'fa-' + network.name"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-4">About my GitHub repositories</h6>
                <p class="text-justify mb-0">Fill free to check <a href="https://github.com/nikolabojkovic/nikolabojkovic.github.io">source code of this web site</a> and also for other interesting projects you can find on my GitHub account.
                <a href="https://github.com/nikolabojkovic">Visit GitHub account</a>.</p>
            </div>
        </div>
    </div>
</footer>
<div [ngClass] = "'copyright' + theme.cssValue"  class="py-4 text-center">
    <div class="container">
        <small class="">Copyright &copy; Nikola Bojkovic {{fromYear}}-{{currentYear}}</small>
    </div>
</div>