<div class="modal-container">
  <div class="modal-header">
    <fa-icon
      class="btn-close-custom"
      [icon]="btn_close"
      (click)="modalRef?.hide()"
    >
    </fa-icon>
  </div>
  <div class="modal-body">
    <div class="modal-body-container">
      <div class="photo-container">
        <img class="card-photo" src="../../../../../assets/images/portfolio/leadership.jpg">
      </div>
      <div class="text-container">
        <p class="text-container__paragraph">Portfolio - Leadership</p>
        <h4 class="text-container__header">Best ways to lead a team</h4>
        <p class="text-container__paragraph">Leading a small or rmedium size team is different then leading a huge team of 15+ members. We have to try to avoid long unneccessary meetings and all team members have to be involved in communication all the time.</p>
        <p class="text-container__paragraph">As a team lead I like to have good communication and grerat relationship with every team member and I have to know all about thieir problems and chalanges they encounter. </p>
        <p class="text-container__secondary-header">Most important within a team is:</p>
        <div class="list-of-items">
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Great organization</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Easy and quick communication</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Daily sync between team members</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Keep up with the progress</p>
          </div>
          <div class="li-item-container">
            <i class="fa fa-check red-check"></i>
            <p class="li-item">Find and resolve bottlenecks</p>
          </div>

        </div>
        <p class="text-container__post-paragraph">
          If the team is huge (15+ members) then we have to split the team into two or more groups (5-10 members each group). In that way it is going to be easyer to menage team members and they will be more productive. </p>
        <p class="text-container__post-paragraph">Benefits of having a smaller team is having shorther meetings and easyer and quicker communication within the team.</p>
      </div>
    </div>
  </div>
</div>